@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    }
    .bnr-btn a{
        display: block;
        margin: 20px auto;
    }
    #feature .title-text h1{
        font-size: 35px;
    }
    .feature-box .feature{
        flex-basis: 95%;
    }
    .feature-box .feature-img{
        flex-basis: 950%;
    }
    .feature-box .feature-img img{
        width: 100%;
    }
    .service-item {
        flex-basis: 95%;
        margin-bottom: 30px;
    }
    .title-text .small{
        font-size: 30px;
    }
    .service-desc{
        width: 90%;
    }
    .service-desc hr {
        width: 60%;
        margin: 5px auto;
    }
    .service-desc p {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .service-desc .fas{
        font-size: 30px;
        margin-top: 14px;
    }
    .testimonial-column{
        flex-basis: 95%;
    }
    .contact-img{
        top: 25%;
        max-width: 300px;
    }
    .contact-left, .contact-right {
        flex-basis: 95%;
        font-size: 14px;
    }
    
}